body {
  font-family: "Handlee", cursive;
  font-family: "Montserrat", sans-serif;
}
.weather-app {
  background: #072e33;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px whitesmoke;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #0c7075;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-city {
  font-size: 40px;
  font-weight: 900;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.number-color {
  color: red;
}
.current-temperature-icon {
  padding: 5px;
  margin: auto;
  display: inline-block;
}
.current-temperature-value {
  font-size: 100px;

  font-weight: bold;
}
.current-temperature-unit {
  font-size: 38px;
  position: relative;
  top: -80px;
}
.current-temperature {
  font-size: 48px;
  margin-top: 44px;
}
.current-details {
  color: #6da5c0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
