body {
  font-family: "Handlee", cursive;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(54, 50, 50);
}
.weather-app {
  background-image: url("Wallpaper.jpeg");
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 15px 8px 8px rgb(33, 31, 31);
}
.search-input {
  background-color: #2f393a;
  border: none;
  color: black;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #131f22;
  color: rgb(144, 124, 124);
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-city {
  font-size: 40px;
  font-weight: 900;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.number-color {
  color: red;
}
.current-temperature-icon {
  width: 120px;
  height: 120px;
  display: inline;
  margin-bottom: -30px;
}
.current-temperature-value {
  font-size: 80px;

  font-weight: bold;
}
.current-temperature-unit {
  font-size: 28px;
  font-weight: 900;
  position: relative;
  top: -40px;
}

footer {
  margin-top: 80px;
}
.current-temperature {
  font-size: 48px;
  margin-top: 44px;
}
.current-details {
  color: #021b28;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.weather-forecast-day {
  font-weight: 600;
  margin-left: 30px;
}
.weather-forecast-temperature {
  margin-left: 29px;
}
.weather-forecast-icon {
  width: 60px;
  height: 38px;
  display: inline-block;
  margin: 0 auto;
}
strong {
  color: rgb(72, 41, 2);
}
p {
  font-size: 16px;
  font-weight: bolder;
}
